@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    background-color: rgb(79, 5, 5);

} */

header{
    /* background-color: #A45C40; */
    background-color: rgb(79, 5, 5);
    padding: 1.1rem;
    text-align: center;
    color: whitesmoke;
    font-size: 1.2rem;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-weight: bold;   */
    letter-spacing: 1.2px;
    line-height: 1.8px;
}






